@import url("https://fonts.googleapis.com/css2?family=Kantumruy Pro:wght@200;400;600;700&display=swap");

* {
    box-sizing: border-box;
    font-family: Kantumruy Pro, sans-serif;
}
body{
    height:100vh;
}
header{
    position: absolute;
    top: 0;
    width: 100%;
}
.wrapper {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    position: absolute;
    /*top: 45%;*/
    /*left: 45%;*/
}

.wrapper button a{
    color: white;
    text-decoration: none;
}

form button a{
    color: white;
    text-decoration: none;
}


.table {
    margin: auto;
    /*width: 50% !important;*/
}

.page-component-item-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    gap: 2rem;
}

.page-component-item-wrapper .sgds.card {
    transition: var(--transition-base);
    overflow: hidden;
    background: rgba(246, 247, 251, 1);
}

.page-component-item-wrapper .sgds.card .card-body {
    z-index: 1;
    background: var(--sgds-white);
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 1) 74%,
            rgba(246, 247, 251, 1) 100%
    );
}

.page-component-item-wrapper .sgds.card img {
    transition: transform 0.2s ease-in-out;
}

.page-component-item-wrapper .sgds.card:hover {
    filter: drop-shadow(0 15px 15px rgba(var(--sgds-black-rgb), 0.15));
}

.page-component-item-wrapper .sgds.card:hover img {
    transform: scale(1.03) rotate(0.01deg);
}

+ article {
    margin-top: 2rem;
}
