<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exclude Selection</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/styles.css}" rel="stylesheet" media="screen">
    <script th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@govtechsg/sgds/css/sgds.css" />

    <style>
        .name {
            display: block;
        }
    </style>
</head>
<body>

<section class="shadow rounded p-5 my-8 mx-md-8">
    <sgds-content-header-top>
        <div>
            <h1>Select people to exclude</h1>
        </div>
    </sgds-content-header-top>
    <div class="col-sm-8 mb-3 form-label sgds dropdown exclude">

        <form onsubmit="submitExcludeForm(event)">
            <select multiple >
                <option class="btn-lg" th:each="exclude : ${excludees}" th:value="${exclude.name}" th:attr="data-id=${exclude.id}">
                    <span th:text="${exclude.name}" class="name"></span>
                </option>
            </select>
            <button type="submit" class="btn btn-primary" style="margin-top: 1em">Generate</button>
        </form>
    </div>
</section>
<script>
    function submitExcludeForm(event) {
        event.preventDefault();

        let selectedOptions = document.getElementsByTagName("option");
        let excludees = [];

        for (let i = 0; i < selectedOptions.length; i++) {
            if (selectedOptions[i].selected) {
                excludees.push(selectedOptions[i].getAttribute("data-id"));
            }
        }

        fetch('/excluding', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(excludees)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                window.location.href = '/groupwithexclusion';

            })
            .catch(error => {
            });
        let xhttp = new XMLHttpRequest();

            window.location.href = '/groupwithexclusion';


    }

</script>
</body>
</html>