<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Grouping</title>
	<link th:href="@{/css/custom.css}" rel="stylesheet" media="screen">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@govtechsg/sgds/css/sgds.css" />
	<script th:src="@{/js/group.js}"></script>

</head>
<body>



<section class="shadow rounded p-5 my-8 mx-md-8" th:if="${shuffledGroups.isEmpty()}">
	<section class="shadow rounded p-5">

		<sgds-content-header-top>
			<div>
				<h1>Group Generator</h1>
			</div>
		</sgds-content-header-top>
		<sgds-content-body>
			<form class="mb-3" th:action="@{/group}" th:method="get" th:default="3">

				<label for="placeholder"></label>
				<input type="radio" id="placeholder" name="choice" value="3" th:checked="${choiceInt == 3}" style="display: none">

				<label class="form-label">Select a method for group generation:</label>
				<div class="form-check">
					<input id="choice1" name="choice" value="1" th:checked="${choiceInt == 1}" type="radio" class="form-check-input" oninput="display()"/>
					<label title="" for="choice1" class="form-check-label">By size of each group</label>
				</div>
				<div class="form-check">
					<input id="choice2" name="choice" value="2" th:checked="${choiceInt == 2}" type="radio" class="form-check-input" onclick="display()" />
					<label title="" for="choice2" class="form-check-label">By total number of groups</label>
				</div>

				<label class="form-label groupSize" for="groupSize">Label</label>
				<input placeholder="Enter the number of members in each group" type="number" id="groupSize" name="groupSize" th:value="${groupSize}" class="form-control groupSize" />

				<label class="form-label numberOfGroups" for="numberOfGroups">Label</label>
				<input placeholder="Enter the number of groups" type="number" id="numberOfGroups" name="numberOfGroups" th:value="${numberOfGroups}" class="form-control numberOfGroups" />

				<button type="submit" class="btn btn-secondary sgds" style="width: fit-content; margin-top: 1em">Generate</button>
			</form>


		</sgds-content-body>

	</section>
	<a type="button" class="btn btn-danger text-end" style="margin-top: 1em; width: fit-content; justify-content: flex-end" th:href="@{/exclude}">Need to exclude someone?</a>

</section>
<section class="shadow rounded p-5 my-8 mx-md-8" th:if="${!shuffledGroups.isEmpty()}">
	<div th:if="${shuffledGroups != null}" class="page-component-item-wrapper" >
		<div class="card sgds" th:each="group, groupIndex : ${shuffledGroups}">
			<div class="card-body">
				<h4 class="card-title"><p th:text="${'Group ' + (groupIndex.index + 1)}"></p></h4>
				<ul>
					<li th:each="studentInfo : ${group}" th:text="${studentInfo}"></li>
				</ul>
			</div>
		</div>
	</div>
	<a type="button" class="btn btn-dark text-end" style="margin-top: 1em; width: fit-content; justify-content: flex-end" th:href="@{/group}">Regenerate?</a>
</section>
</body>
</html>