<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Students</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h2>List of Students</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a th:href="@{/list/add}" class="button">Add New Student</a>
    </div>
</div>
<table>
    <thead>
    <tr>
        <th>No.</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student, iterStat : ${students}">
        <td th:text="${iterStat.count}">1</td>
        <td th:text="${student.name}">Name</td>
            <td>
                <a th:href="@{/list/edit/{id}(id=${student.id})}" class="button">Edit</a>
                <a th:href="@{/list/delete/{id}(id=${student.id})}" class="button">Delete</a>
            </td>


    </tr>
    </tbody>
</table>
</body>
</html>
